<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="engine:DatabaseName" value="RaptorDB"/>
		<add key="engine:WelcomeBanner" value="true"/>

		<add key="storage:BasePath" value="E:\VISUAL-STUDIO\codes\RaptorDB\RaptorDB\Databases\default_db\"/>
		<add key="storage:UseWAL" value="true"/>
	</appSettings>
</configuration>
