<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Storage + Filesystem -->
	<storage>
		<BasePath>E:\VISUAL-STUDIO\codes\RaptorDB\RaptorDB\Databases\default_db\</BasePath>
		<DataFileSuffix>.data</DataFileSuffix>
		<SchemaFileSuffix>.schema</SchemaFileSuffix>
		<IndexFileSuffix>.idx</IndexFileSuffix>
		<WalFileSuffix>.wal</WalFileSuffix>

		<!-- Record / Page Settings -->
		<RecordFormat>TextLine</RecordFormat>
		<!-- Future: Binary, Fixed, Page -->
		<PageSize>4096</PageSize>
		<MaxRecordSize>512</MaxRecordSize>

		<!-- Durability -->
		<UseWAL>true</UseWAL>
		<AutoRecoverOnStartup>true</AutoRecoverOnStartup>
	</storage>
</configuration>
